<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Payment Estimator</title>
</head>
<body class="bg-gray-100">

    <nav class="bg-white p-6 flex items-center justify-between shadow-md">
         <a href="{{ url_for('home') }}">
            <img src="../static/css/images/WebAssets/toyota_red_logo2.png" alt="Toyota Logo" class="w-32 h-auto">
        </a>
        <div class="space-x-6 text-red-600 font-bold">
            <a href="https://github.com/LarissaNamu/FindAYota" class="hover:text-red-700 transition duration-300">About</a>
            <a href="{{ url_for('form') }}" class="hover:text-red-700 transition duration-300">FindAYota</a>
        </div>
    </nav>

    <div>
        <div class="w-1/2 p-6 fixed h-full flex items-center justify-center">
            <img src="{{car.image_path}}" alt="Vehicle" class="w-full max-w-xl">
        </div>

        <div class="w-1/2 ml-auto h-full p-6">
            <div class="bg-white shadow-lg rounded-lg p-6">
                <h1 class="text-4xl font-bold mb-6">{{ car.model.title() }}</h1>
                <div class="flex items-center justify-between mb-4">
                    <span class="text-3xl inline" id="monthlyPayment">$0/mo</span>
                    <span class="text-sm inline -ml-1" id="apr">APR: 0%</span>

                    <span class="text-3xl">MSRP: ${{ "{:,.0f}".format(car.price) }}</span>
                </div>
                
                <div class="mb-6">
                    <div class="flex justify-between items-center">
                        <label for="cashDown" class="block text-sm font-medium text-gray-700">Cash Down</label>
                        <span id="cashDownValue" class="text-sm font-bold">0</span>
                    </div>
                    <input 
                        type="range" 
                        id="cashDown" 
                        min="0" 
                        max="20000" 
                        step="1000" 
                        class="w-full mt-2" 
                        value="0" 
                        oninput="updateCashDownValue(this.value)"
                    >
                </div>
                
                <div class="mb-6">
                    <label for="termLength" class="block text-sm font-medium text-gray-700">Term Length</label>
                    <div id="termLengthOptions" class="flex space-x-4 mt-2">
                        <button class="term-btn px-4 py-2 border rounded-md" data-value="24">24 mo</button>
                        <button class="term-btn px-4 py-2 border rounded-md" data-value="36">36 mo</button>
                        <button class="term-btn px-4 py-2 border rounded-md" data-value="48">48 mo</button>
                        <button class="term-btn px-4 py-2 border rounded-md" data-value="60">60 mo</button>
                        <button class="term-btn px-4 py-2 border rounded-md" data-value="72">72 mo</button>
                    </div>
                </div>

                <div class="mb-6">
                    <div class="flex justify-between items-center">
                        <label for="creditScore" class="block text-sm font-medium text-gray-700">Est. Credit Score</label>
                        <span id="creditScoreValue" class="text-sm font-bold">0</span>
                    </div>
                    <input type="range" id="creditScore" min="300" max="850" step="1" value="0" class="w-full mt-2">
                </div>

                <div class="mb-6">
                    <label for="tradeIn" class="block text-sm font-medium text-gray-700">Add a trade-in value</label>
                    <input type="text" id="tradeIn" placeholder="Est. Trade-in value" class="mt-2 w-full border rounded-md p-2">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
